.loader {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader__img {
  animation: 10s fading;
}

.loader__button {
  border-radius: 50%;
  border-color: var(--font-golden-color);
  padding: 3vw;
  font-size: 3vw;
  color: var(--font-golden-color);
  background: var(--main-bg-color);
  transition: 0.7s;
  animation: 10s fading;
}

@keyframes fading {
  100% {
    scale: 20;
    rotate: 400deg;
  }
}
