@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

:root {
  --main-bg-color: radial-gradient(
    circle,
    rgba(30, 40, 78, 1) 17%,
    rgba(20, 22, 28, 1) 70%
  );

  --font-golden-color: #d1a41a;
  font-family: "Inter", sans-serif;

  --buttons-border: linear-gradient(
    180deg,
    #ffffff 5%,
    #e3d78f 10%,
    #836929 60%,
    rgb(230, 179, 76) 85%
  );

  --font-title-color: #c4bba1;

  --button-color: rgb(15, 134, 15);

  --button-color-hit: red;

  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
