:root {
  --main-bg-color: radial-gradient(
    circle,
    rgba(30, 40, 78, 1) 17%,
    rgba(20, 22, 28, 1) 70%
  );

  --font-golden-color: #d1a41a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: "hidden";
}
